@media screen and (max-width: 600px) {
  .nav-part2 {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    display: block;
  }
  .banner-img {
    height: auto;
  }
  .input-primary {
    width: 100%;
    margin: 5px auto;
  }
  .button-cont {
    width: 170%;
  }
  .button-primary{
    width: 58%;
    margin-top: 5px;
  }
  .banner-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .popular {
    display: flex;
    flex-direction: column;
  }
  .popular-img{
  margin:25px;
  }
  .part1 {
    margin-bottom: 10px;
  }
  .des-row1 {
    grid-template-columns: 1fr;
  }
  .des-row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .des-row3 {
    display: flex;
    flex-direction: column;
  }
  .box-part1 {
    flex-direction: column;
  }
  .trip-imgcont {
    display: flex;
    flex-direction: column;
  }
  .news {
    flex-direction: column;
  }
  .news-img > img {
    width: 180%;
    height: 300px;
    margin-top: 10px;
  }
  .news-part1 {
    margin: 20px auto;
  }
  .trip-imgcont {
    flex-direction: column;
  }
  .news-discountcont {
    top: -140px;
    right: -230px;
  }
}
