* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
/* navbar section starts here */
.nav-container {
  height: 145px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-part1 {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 55px;
  margin-top: 10px;
}
.logo-text {
  color: #131318;
  font-size: 35px;
  font-weight: 800;
  padding: 10px;
}
span {
  color: #ff5400;
  padding: 10px;
}
.nav-part2 a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
}
.menu {
  display: none;
}
/* banner section starts here */
.banner {
  text-align: center;
  display: flex;
  align-items: center;
}
.banner-img {
  width: 100%;
  height: 500px;
  background-size: cover;
  border-radius: 15px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group\ 13\ \(1\)\ \(1\).png");
}
.banner-text h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 800;
  margin-top: 105px;
}
.caption {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding-top: 50px;
}
.bannerinput-cont {
  width: 90%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  padding: 20px;
  margin: 50px auto;
}
.banner-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-primary {
  width: 175px;
  height: 50px;
  border-radius: 8px;
  padding-left: 5px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 15px;
  font-weight: 400;
}
.button-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.button-primary {
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background-color: #ff5400;
  border: none;
  font-weight: 700;
  font-size: 15px;
  width: 170%;
}
/* our popular tours section starts here */
.popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  justify-content: space-around;
  gap: 20px;
}
.common-style {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 15px;
  font-weight: 400;
  margin-left: 30px;
}
p {
  color: rgba(19, 19, 24, 0.7);
}
.popular-img {
  width: 50%;
  height: auto;
}
.part1 {
  width: 80%;
  margin: 0 auto;
}
.part2 {
  width: 80%;
}
.pop-btn {
  width: 175px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  margin: 30px auto;
  background-color: #ff5400;
  border: none;
  font-weight: 700;
  font-size: 15px;
}

/* Choose Your Destination section starts here */
.destination {
  margin-top: 100px;
}
.destination-images {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.place {
  margin: 130px auto;
}
.des-row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.des-img1,
.des-img2 {
  height: 300px;
  border-radius: 16px;
  background-size: cover;
}
.des-img3 {
  height: 285px;
  border-radius: 16px;
  background-size: cover;
}
.des-img4 {
  height: 285px;
  border-radius: 16px;
  background-size: cover;
}
.des-img5 {
  height: 285px;
  border-radius: 16px;
  background-size: cover;
}
.des-row2 {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  gap: 20px;
  margin-top: 20px;
}
.des-row3 {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 20px;
  margin-top: 20px;
}
.des-img6 {
  height: 300px;
  border-radius: 16px;
  background-size: cover;
}
.des-img7 {
  height: 300px;
  border-radius: 16px;
  background-size: cover;
}
/* Why Choose Us section starts here */
.why-text {
  text-align: center;
  margin-top: 100px;
}
.why-box {
  margin-top: 50px;
}
.box1 {
  width: 570px;
  height: 285px;
  border-radius: 15px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
  margin: 10px;
}
.box2 {
  width: 570px;
  height: 285px;
  border-radius: 15px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  margin: 10px;
}
.box3 {
  width: 570px;
  height: 285px;
  border-radius: 15px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.icon-tag {
  padding: 30px;
}
.services {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 20px 0px 20px 0px;
}
.box-part1 {
  display: flex;
  justify-content: center;
}
.box-part2 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
/* my section starts here */

.trips {
  margin-top: 100px;
  text-align: center;
}
.trip-imgcont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: #424247;
}
.trip-img:hover {
  transform: scale(0.9);
}

/* Newsletter section starts here */
.news-part1 {
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  text-align: center;
}
hr {
  width: 300px;
  margin-left: 90px;
  margin-top: 20px;
}
.news-input > input {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin: 15px;
  padding-left: 15px;
  border: none;
}
.news-input button {
  width: 393px;
}
.news-img {
  width: 50%;
}
.news {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.news-discountcont {
  width: 100%;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  position: relative;
  top: -150px;
  right: -330px;
  text-align: center;
}
.travel {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}
.discount {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
/* footer section starts here */
.foot {
  width: 100%;
  height: 500px;
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
}
.foot-part1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.foot-icon {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.icons {
  margin: 10px;
  font-size: 2rem;
}
.foot hr {
  width: 70%;
  margin: 10px auto;
}
.copyright {
  margin-top: 30px;
}
